.Contact .info {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 3px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.Contact .info a {
    color: var(--bg-primario);
}

.Contact .info p {
    margin-bottom: 1rem;
}

.Contact .info p:nth-child(even){
    margin-bottom: 0;
}

.Contact .info span {
    font-weight: 700;
}