@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-primario: rgb(255, 95, 95);
  --bg-secundario:rgba(248,177,177,0.76);
  --bg-transparente: rgba(249, 219, 219, 0.38);
  --color-white: #fff;
  --fuente-titulo: 'Nerko One', cursive;
  --fuente-texto: 'Lato', sans-serif;
}

body {
  font-family: var(--fuente-texto);
  background-color: var(--bg-transparente);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--fuente-titulo);
}

